.site-footer
{
  background-color:#26272b;

  position:sticky;
  bottom:0;
  position:fixed;
  bottom:0;
  left: 0;
  right: 0;
  color:#737373;
  margin-top: auto;
}

/* CSS Styling for hr class - line in footer.
*/

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

/* CSS Styling for h6 class.
*/

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}

/* CSS Styling for text on Footer.
*/

.site-footer a
{
  color:#737373;
}

/* CSS Styling for icons on hover.
*/

.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

/* CSS Styling for links/icons on hover.
*/

.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}



/* CSS Styling for social icons utilized in Footer
*/
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}

/* CSS Styling for icons to center them within bubbles
*/
  .site-footer .social-icons
  {
    text-align:center
  }