/* body {
    /* background-color: antiquewhite; */
/* } */ 


#card_container {
    border: 1px solid;
    float: right;
    padding-bottom: 10px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 20%;
    margin-top: 200px;
    margin-right: 10px;
}


  body {
    position: relative;
    min-height: 100%;
    min-height: 100vh;
    background-image: url('resources/jon-tyson-FsYZE4ZZKJY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }


  #button_container {
    margin-left: -400px;
    float: left;
    margin-top: 110px;
    position: relative;
  }


  .navbar a{
    font-family: serif !important;
    margin-bottom: 0;
    position: sticky;
    border: 2px, gray;
}

#refresh {
  text-align: center;
 margin-top: 80%;

}




  /* fixed css */